---
title: Baseball
layout: collection
body: This exhibit is currently under development. In the meantime, browse some of the articles related to this topic from the 1913 issue of The Umpire. 

---

<div id="articles" class="widest">
	<table>
		<thead>
        	<h2><i>Grate-Phil News</i></h2>
			          	<input type="text" class="search" placeholder="Search" />

			<tr>
		  	<th class="sort" data-sort='table-title'><b>article title</b></th>
			<th class="sort" data-sort='table-author'><b>author </b></th>
			<th class="sort" data-sort='table-newspaper'><b>newspaper</b></th>
			<th class="sort" data-sort='table-year'><b>year</b></th>
			<th class="sort" data-sort='table-month'><b>month</b></th>
			<th class="sort" data-sort='table-day'><b>day</b></th>
			<th class="sort" data-sort='table-tag'><b>tags</b></th>
			
		</tr>  
		
    </thead>
	 
	<tbody class="list">

		{% for item in gratephilnews %}

		<tr>
			<td class="table-title">
			<a href="{{ item.id | url }}">
					"{{ item.title }}"</a>
			</td>
			<td class="table-author">
				{%- for author in item.author -%}
				{% if loop.first %}
				{{ item.author }}
				{% endif %}
				{%- endfor -%}
			</td>
			<td class="table-newspaper">{{ item.newspaper }}</td>
			<td class="table-year">{{ item.year }}</td>
			<td class="table-month">{{ item.month }}</td>
			<td class="table-day">{{ item.day }}</td>
			<td class="table-tag">
				{%- for tag in item.tags -%}
					{% if loop.last %}
						{{ tag }}
					{% else %}
						{{ tag }}, 
					{% endif %}
					
				{%- endfor -%}
			</td>
		</tr>
	{% endfor %}
  </tbody>
 </table>
</div>

<script>
let options = {
  valueNames: [ 'table-title', 'table-author','table-year','table-newspaper', 'table-month','table-day', 'table-tag'],
};

let articleList = new List('articles', options);
</script>