---
title: For Sale at Eastern State Penitentiary
layout: collection
body: Explore the classified ads of The Umpire to see what was for sale at Eastern State. Click on a title in the table below to read the ad column and view it in the context of the page.
---
<div class="element-centered widest">
<div id="articles" class="widest">
	<table>
		<thead>
		
          	<input type="text" class="search" placeholder="Search" />
        	
			<tr>
		  	<th class="sort" data-sort='table-title'><b>title</b></th>
			<th class="sort" data-sort='table-author'><b>author </b></th>
			<th class="sort" data-sort='table-newspaper'><b>newspaper</b></th>
			<th class="sort" data-sort='table-year'><b>year</b></th>
			<th class="sort" data-sort='table-month'><b>month</b></th>
			<th class="sort" data-sort='table-day'><b>day</b></th>
			<th class="sort" data-sort='table-tag'><b>tags</b></th>
			
		</tr>  
		
    </thead>
	 
	<tbody class="list">

	{%- for post in collections.classifieds -%}
		<tr>
			<td class="table-title">
					<a href="{{ post.url | url }}">
					"{{ post.data.title }}"
					</a>
			</td>
			<td class="table-author">
				{%- for author in post.data.author -%}
				{% if loop.first %}
				{{ post.data.author }}
				{% endif %}
				{%- endfor -%}
			</td>
			<td class="table-newspaper">{{ post.data.newspaper }}</td>
			<td class="table-year">{{ post.data.year }}</td>
			<td class="table-month">{{ post.data.month }}</td>
			<td class="table-day">{{ post.data.day }}</td>
			<td class="table-tag">
				{%- for tag in post.data.tags -%}
					{% if loop.last %}
						{{ tag }}
					{% else %}
						{{ tag }}, 
					{% endif %}
					
				{%- endfor -%}
			</td>
		</tr>
	{%- endfor -%}
  </tbody>
 </table>
</div>
</div>
<script>
let options = {
  valueNames: [ 'table-title','table-author','table-newspaper','table-year','table-month','table-day','table-tag'],
};

let articleList = new List('articles', options);
</script>