---
layout: collection
title: Classifieds in The Umpire (1913-1919)
---
<div class="element-centered wider">
	<div class="item">
		<div class="item-left">
			<video width="100%" height="auto" controls>
 				<source src="https://www.dropbox.com/scl/fi/44ofgd4nwcw29ig1an08i/robert-classifieds-smaller.mp4?rlkey=nd7ibvxhi7wo6jiiiq21ytuzv&st=k5f0c5dq&raw=1" type="video/mp4">
					Your browser does not support the video tag.
			</video>
		</div>
		<div class="item-right">
			<h2>In July 1913, a <a href="/umpire/1913/items/388/">small, probably sarcastic classified notice</a> appears in <i>The Umpire</i>, requesting fifty cats for the boiler room.</h2> 
			<p>It quickly grows to become a regular feature of the newspaper, offering a glimpse into how men occupied themselves while incarcerated: their creativity, talents, hobbies, and hustles.</p>
		</div>
	</div>
	<div class="item">
		<h2>Search and explore all the classifieds and “For Sale” notices in <i>The Umpire</i>:</h2>
	</div>
<div id="articles">
	<table>
		<thead>
		
          	<input type="text" class="search" placeholder="Search" />
        	
			<tr>
		  	<th class="sort" data-sort='table-title'><b>title</b></th>
			<th class="sort" data-sort='table-author'><b>author </b></th>
			<th class="sort" data-sort='table-newspaper'><b>newspaper</b></th>
			<th class="sort" data-sort='table-year'><b>year</b></th>
			<th class="sort" data-sort='table-month'><b>month</b></th>
			<th class="sort" data-sort='table-day'><b>day</b></th>
			<th class="sort" data-sort='table-tag'><b>tags</b></th>
			
		</tr>  
		
    </thead>
	 
	<tbody class="list">

	{%- for post in collections.classifieds -%}
		<tr>
			<td class="table-title">
					<a href="{{ post.url | url }}">
					"{{ post.data.title }}"
					</a>
			</td>
			<td class="table-author">
				{%- for author in post.data.author -%}
				{% if loop.first %}
				{{ post.data.author }}
				{% endif %}
				{%- endfor -%}
			</td>
			<td class="table-newspaper">{{ post.data.newspaper }}</td>
			<td class="table-year">{{ post.data.year }}</td>
			<td class="table-month">{{ post.data.month }}</td>
			<td class="table-day">{{ post.data.day }}</td>
			<td class="table-tag">
				{%- for tag in post.data.tags -%}
					{% if loop.last %}
						{{ tag }}
					{% else %}
						{{ tag }}, 
					{% endif %}
					
				{%- endfor -%}
			</td>
		</tr>
	{%- endfor -%}
  </tbody>
 </table>
</div>
</div>
<script>
let options = {
  valueNames: [ 'table-title','table-author','table-newspaper','table-year','table-month','table-day','table-tag'],
};

let articleList = new List('articles', options);
</script>