{% extends "base.njk" %}
{% block content %}

<h1 class="title-centered">About</h1>

<div class="element-centered wider">
	<p>
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	</p>
	<p>
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	</p>

<h1 class="title-centered">Development</h1>

	<p>
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	</p>
	<p>
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	</p>

<h1 class="title-centered">Team</h1>

<div class="element-centered wider">
	<ul style="font-size:18px" class="title-centered">
		<li class="nav-item"><b>Whitney Trettien</b> author</li>
		<li class="nav-item"><b>Cosette Bruhns-Alonso</b> project manager</li>
		<li class="nav-item"><b>Andy Janco</b> developer</li>
		<li class="nav-item"><b>Cassandra Hradil</b> designer</li>
		<li class="nav-item"><b>more people</b> student RAs?</li>
		<br>
		<li class="nav-item"><em>With thanks to:</em> </li>
		<li class="nav-item">Eastern State Penitentiary</li>
		<li class="nav-item">Price Lab for Digital Humanities</li>
		<li class="nav-item">Penn Libraries</li>

	</ul>

	<br><br>
	<a href="../copyright">
	<button class="border element-centered">
	<img width="50px" src="../assets/logos/manicule.svg" /> Copyright + Terms of Use</button></a>
	<br><br>

</div>

{% endblock %}