{% extends "base.njk" %}
{% block content %}

<h1 class="title-centered">Terms of Use</h1>

<div class="element-centered wider">
	<p>
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	</p>
	<p>
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	</p>

<div style="padding:2em; margin:3em" class="border">
	<ul>
		<li class="nav-item">DOI <b> TK.TKTK/2023cts</b></li>
		<li class="nav-item">ISBN <b> TK.TKTK/2023cts</b></li>
		<br>
		<li class="nav-item">Copyright</li>
		<li class="nav-item"><b> University of Pennsylvania Libraries</b></li>
		<br>
		<li class="nav-item">Citation </li>
		<li class="nav-item"><b> citation info here</b></li>
	</ul>
</div>

<h1 class="title-centered">Copyright</h1>
	<p>
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
	</p>
	<br>
	<br>

</div>

{% endblock %}