{% extends "base.njk" %}
{% block content %}

<h1 class="title-centered">Terms of Use</h1>

<div class="element-centered wider">
<h3>Creative Commons License</h3>
	<p>
		This publication, including text, style, media, and user interface design is licensed under a <a class="underline" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">Creative Commons Attribution-NonCommercial-NoDerivatives 4.0 International License.</a>
	</p>
	<p>DOI <b>10.58117/2x7t-s726</b></p>
	<br>
<h3>Suggested Citation</h3>
	<p>
		Trettien, Whitney. “Printing in Prisons.” Penn Libraries, 2023. https://doi.org/10.58117/2X7T-S726.
	</p>
	<br>
<h3>Platform</h3>
	<p>
		This publication website is built in <a class="underline" href="https://www.11ty.dev/">Eleventy. </a>
	</p>
<br>
</div>

</div>

{% endblock %}