{% extends "base.njk" %}
{% block content %}

<div class="element-centered wider">
	<p>
		The first phase of this project has built an index of every article printed in the newspapers known to have been printed at Eastern State Penitentiary: <i>The Umpire</i>, <i>Grate-Phil News</i>/<i>Pen Points</i>, and <i>Eastern Echo</i>, with publication metadata, subject tags, and searchable full text. This index builds on earlier work done by the Eastern State Penitentiary Historic Site. You may <a href="https://github.com/upenndigitalscholarship/printing-in-prisons/_data" target="_blank">view or download the data</a> on the Research Data and Digital Scholarship team’s GitHub site. 
	</p>
	<p>
		This project’s data also includes archival-quality, high-resolution photographs of these newspapers. <i>The Umpire</i> and <i>Eastern Echo</i> were digitized by the Schoenberg Center for Electronic Text and Image at the University of Pennsylvania Libraries. <em>The Umpire</em> was digitized in March 2020; <em>Eastern Echo</em> was digitized in February 2023. You may <a href="https://www.dropbox.com/scl/fo/q5i0e9nf9si3cvwz52tt4/AErAOUwa4KavUF5ks5ddJQY?rlkey=9l8ki23qdrg51llw3brdq2cos&st=sg2537y4&dl=0/" target="_blank">view and download</a> these and other photographs of prison newspapers here.
	</p>
	<p>
		Other related datasets, potentially of interest, include the <a class="underline" href="https://repository.upenn.edu/mead/22/" target="_blank">early Admission Books of Eastern State Penitentiary, held at American Philosophical Society</a> and published by Scott Ziegler and Michelle Ziogas in the Magazine of Early American Datasets; the <a href="https://www.jstor.org/site/reveal-digital/american-prison-newspapers/" target="_blank">American Prison Newspapers, 1800-2020: Voices from the Inside</a> database published by JSTOR; and the <a href="https://penalpress.com/" target="_blank">Gaucher/Munn Penal Press Collection</a> published by Melissa Munn, which focuses on the Canadian penal press. 	
	</p>
	<p>
		Content within the newspapers presented here is not copyrighted. For more information on copyright and acknowledgments, please see the <a class="underline" href="{{ '/about/' | url }}">About</a> page.
	</p>
	<br><br>
	<a href="https://github.com/upenndigitalscholarship/printing-in-prisons"><button class="border element-centered"><img width="50px" src="{{ '/assets/logos/manicule.svg' | url }}" />View Repository</button></a>
	<br><br>

</div>

{% endblock %}