{% extends "base.njk" %}
{% block content %}

<div class="element-centered wider">
	<p>
		When completed, this project’s data will include an index of every article printed in The Umpire and Eastern Echo, with publication metadata, subject tags, and searchable full text. This index builds on earlier work done by the Eastern State Penitentiary Historic Site. You may view or download the data on the Research Data and Digital Scholarship team’s GitHub site. 
	</p>
	<p>
		This project’s data also includes archival-quality, high-resolution photographs of the copies of The Umpire and Eastern Echo held at Eastern State Penitentiary Historic Site. These were digitized by the Schoenberg Center for Electronic Text and Image at the University of Pennsylvania Libraries. The Umpire was digitized in March 2020; Eastern Echo was digitized in February 2023. You may view and download the raw image files on the Research Data and Digital Scholarship team’s GitHub site.
	</p>
	<p>
		Other related datasets, potentially of interest, include the <a class="underline" href="https://repository.upenn.edu/mead/22/">early Admission Books of Eastern State Penitentiary, held at American Philosophical Society</a> and published by Scott Ziegler and Michelle Ziogas in the Magazine of Early American Datasets; the <a class="underline" href="https://www.jstor.org/site/reveal-digital/american-prison-newspapers/">American Prison Newspapers, 1800-2020: Voices from the Inside</a> database published by JSTOR; and the <a class="underline" href="https://penalpress.com/">Gaucher/Munn Penal Press Collection</a> published by Melissa Munn, which focuses on the Canadian penal press. 	
	</p>
	<p>
		Content within The Umpire and Eastern Echo is not copyrighted. For more information on copyright and acknowledgments, please see the <a class="underline" href="{{ '/about/' | url }}">About</a> page.

	</p>
	<br><br>
	<a href="https://github.com/upenndigitalscholarship/printing-in-prisons"><button class="border element-centered"><img width="50px" src="{{ '/assets/logos/manicule.svg' | url }}" />View Repository</button></a>
	<br><br>

</div>

{% endblock %}