{% extends "base.njk" %}
{% block content %}

<link rel="stylesheet" type="text/css" href="/assets/styles.css" />

<h1 class="title-centered"> hello, i am a homepage </h1>
<div>
	<div class="item short wide homepage-top"></div>
<div class="container">

	<div class="item tall third"></div>
	<div class="item short third"></div>
	<div class="item tall third"></div>
	<div class="item short third"></div>
	<div class="item short third"></div>
	<div class="item tall third"></div>
	<div class="item short third"></div>
	<div class="item tall third"></div>
	<div class="item short third"></div>

</div>
</div>

{% endblock %}
