{% extends "base.njk" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="assets/styles.css" />

<div>
	<div class="index-top">
		<div class="wider">
			<img class="img-right" src="assets/front-end-images/stenographer-bw.png" />
			<h2><span class="smallcaps">This website</span> investigates penal publishing as a precarious site of resistance.</h2> 
			<p>Since 1800, hundreds of newspapers written by incarcerated people have been printed in U.S. prisons, ranging from underground zines, discreetly published in a shop’s downtime, to widely-circulated magazines. Sometimes radical, often subversive, this “penal press” forms a powerful counter-archive to the wash of mundane government forms, non-profit booklets, and envelopes printed for pennies on the dollar by prison labor, often without any mark of their origins. </p>
			<p>Our primary case study is Philadelphia’s Eastern State Penitentiary, a panopticon-style prison built in the 1830s (and now a museum). The world’s first true penitentiary, it was also one of the first prisons to set up a print shop where those inside learned to set type, pull presses, and bind books. Through curated exhibits backed by a fully searchable index of articles, this site tells the unknown stories of Eastern State’s incarcerated editors, writers, and printers. </p>
		</div>
	</div>
	<!--  
<div class="container">

	<div class="item tall third"></div>
	<div class="item short third"></div>
	<div class="item tall third"></div>
	<div class="item short third"></div>
	<div class="item short third"></div>
	<div class="item tall third"></div>
	<div class="item short third"></div>
	<div class="item tall third"></div>
	<div class="item short third"></div>
	<div class="item short third"></div>
	<div class="item tall third"></div>
	<div class="item short third"></div>

</div>
-->
</div>

{% endblock %}