{% extends "base.njk" %}
{% block content %}
<link rel="stylesheet" type="text/css" href="assets/styles.css" />

<div>
	<div class="index-top">
		<div class="wider">
			<img class="img-right" src="assets/front-end-images/cover-small.gif" style="margin:20px;"/>
			<h1><span class="smallcaps">Discover the stories</span> of incarcerated writers, journalists, editors, poets, and printers.</h1> 
			<p>In the 1880s, printing presses entered U.S. prisons. Since then, hundreds of newspapers have been written, edited, and printed inside prisons, by incarcerated people. These range from underground zines reproduced by hand to widely-circulated magazines and newspapers. Together, these texts form a powerful counter-archive to the wash of dime novels,  government forms, envelopes, and church circulars printed for pennies on the dollar by prison labor.</p>	
			<p>This website explores printing and publishing inside prisons by telling the stories of the people who did this work. You might begin by learning about <a href="/printing-as-prison-labor/">how printing presses came to be used in prison labor</a>. Then explore our curated <a href="/library/"">library of prison publications</a>. Every article has been indexed and tagged by our team; specific collections help guide the reader. More advanced readers may wish to download the <a href="/data/">data</a> directly for themselves.</p>
			<p>This project originated at the University of Pennsylvania. We began by digitizing the newspapers printed nearby at Eastern State Penitentiary, a panopticon-style prison built in Philadelphia in the 1830s (and now a museum). As this project expands, we will begin incorporating newspapers from other institutions.</p>
		</div>
	</div>
</div>

{% endblock %}