{% extends "base.njk" %}
{% block content %}

<div class="container-collections wider">	
	<div class="item">
		<div class="item-left">
			<a href="{{ '/library/umpire/' | url }}"><img src="{{ '/assets/front-end-images/umpire-header.png' | url }}" /></a>
	</div>
		<div class="item-right">
			<p><a href="{{ '/library/umpire/' | url }}"><b><em>The Umpire</em></b></a> (1913-1919) was a four-page weekly that circulated internally within Eastern State Penitentiary in Philadelphia. At first, it was created to share news about the prison's baseball league.</p>
		</div>
	</div>
	<div class="divider"></div>
	<div class="item">
		<div class="item-left">
			<a href="{{ '/library/gratephilnews/' | url }}"><img src="{{ '/assets/front-end-images/penpoints-header.jpg' | url }}" /></a>
			<a href="{{ '/library/gratephilnews/' | url }}"><img src="{{ '/assets/front-end-images/gratephilnews.png' | url }}" /></a>
	
	</div>
		<div class="item-right">
			<p><a href="{{ '/library/gratephilnews/' | url }}"><em><b>Pen Points</b></em> and <em><b>Grate-Phil News</em></b></a> were companion newspapers published at Eastern State Penitentiary: one for Eastern State Penitentiary, the other for Graterford Prison. Only a single copy of each is known to exist.</p>
		</div>
	</div>
	<div class="divider"></div>
	<div class="item">
		<div class="item-left">
			<a href="{{ '/library/easternecho/' | url }}"><img src="{{ '/assets/front-end-images/easternecho-header.jpg' | url }}" /></a>
	</div>
		<div class="item-right">
			<p><a href="{{ '/library/easternecho/' | url }}"><em><b>Eastern Echo</b></em></a> (1956-1967) was a color magazine printed at Eastern State Penitentiary. It circulated nationally outside of prisons. In early 1968, the entire  editorial team quit because of censorship.</p>
		</div>
	</div>
</div>


{% endblock %}