{% extends "base.njk" %}
{% block content %}

<h1 class="title-centered"> hello, i am a collections page </h1>
<div>
	<div class="element-centered widest">
		<p>
		Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
		</p>
		<p>
		Trees get lonely too, so we'll give him a little friend. Here's something that's fun. There is immense joy in just watching - watching all the little creatures in nature. The secret to doing anything is believing that you can do it. Anything that you believe you can do strong enough, you can do. Anything. As long as you believe. God gave you this gift of imagination. Use it. Isn't that fantastic that you can create an almighty tree that fast? With something so strong, a little bit can go a long way. A thin paint will stick to a thick paint. If you don't like it - change it. It's your world. Fluff that up.
		</p>
	</div>
<div class="container">

	<div class="item half short" style="border:2px black solid; outline:2px black solid; outline-offset:-10px; background-color:#FBF7EB">
		<h1 class="title-centered" style="vertical-align:middle; padding:20px; margin-top:8vw">For Sale at Eastern State</h1>
	</div>
	<div class="item half tall"></div>
	<div class="item half tall"></div>
	<div class="item half tall"></div>
	<div class="item half short"></div>
	<div class="item half short"></div>
	


</div>
</div>

{% endblock %}