<!doctype html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" type="text/css" href="{{ '/assets/styles.css' | url }}"/>
        <link href="https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&family=UnifrakturMaguntia&display=swap" rel="stylesheet">
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        {% block head %}{% endblock %}
        <title>{{ title | default('Printing in Prisons') }}</title>
    </head>
    <body class="pagefind-body">
        <main>
            <div data-pagefind-ignore="all">{% include 'nav.njk' %}</div>

            {% block content %}{% endblock %}

            <div data-pagefind-ignore="all">{% include 'footer.njk' %}</div>

        </main>
    </body>
</html>