{% extends "base.njk" %}

{% block content %}

<h1 class="title-centered" id="collection-title">{{title}}</h1>

<div class="element-centered widest">
  <p>
{{body}}  </p>
</div>

{{ content | safe }}

{% endblock %}