<hr>
<hr>
<ul class="footer">
	<li class="nav-item">CCLicense2023 | <a href="/copyright">Terms of Use</a></li>
	<li class="nav-item">DOI <b> 10.58117/2x7t-s726</b></li>
	<li class="nav-item"><img height="40px" src="/assets/logos/libraries.png" /></li>

</ul>
<br>
<br>