<hr>
<hr>
<ul class="footer">
	<li class="nav-item"><a class="underline" href="https://creativecommons.org/licenses/by-nc-nd/4.0/">CC BY-NC-ND 4.0</a> | <a class="underline" href="{{ '/copyright/' | url }}">Terms of Use</a></li>
	<li class="nav-item">DOI <b> 10.58117/2x7t-s726</b></li>
	<li class="nav-item"><img height="40px" src="assets/logos/libraries.png" /></li>

</ul>
<br>
<br>