<ul class="nav-top">

<li class="nav-item hide-on-mobile"><h5 class="nav-item-top"><a href="{{ '/library/' | url }}">Devoted to the Interests and Entertainment of its Readers</a></h5></li>
<!--
<li class="nav-top-main hide-on-mobile"><object data="/assets/logos/umpire.svg" type="image/svg+xml"></object></li>
-->
<li class="nav-top-main"><h1 class="nav-top"><a href="{{ '/' | url }}">Printing in Prisons</a></h1></li>
<!--
<li class="nav-top-main hide-on-mobile"><object data="/assets/logos/echo.svg" type="image/svg+xml"></object></li>
-->

<li class="nav-item hide-on-mobile"><h5 class="nav-item-top"><a href="{{ '/about/' | url }}">Designed in Memory of Incarcerated Printers & Typesetters</a></h5></li>

</ul>
<h4 class="nav-top-subtitle"><hr class="partial-hr">Established 2023<hr class="partial-hr"></h4>

<hr>
<hr>

<ul class="nav">
	<li class="nav-item {{ 'active' if '/printing-as-prison-labor' in page.url }}"><a href="{{ '/printing-as-prison-labor/' | url }}">PRINTING AS PRISON LABOR</a></li>
	<li class="nav-item {{ 'active' if '/library' in page.url }}"><a href="{{ '/library/' | url }}">LIBRARY</a></li>
	<li class="nav-item {{ 'active' if '/search' in page.url }}"><a href="{{ '/search/' | url }}">SEARCH</a></li>
	<li class="nav-item {{ 'active' if '/data' in page.url }}"><a href="{{ '/data/' | url }}">DATA</a></li>
	<li class="nav-item {{ 'active' if '/about' in page.url }}"><a href="{{ '/about/' | url }}">ABOUT</a></li>
</ul>
<hr>
