{% extends "base.html" %}
{% block content %}
<h1>{{ title }}</h1>

<p>{{ year }}</p>
<ul>
{% for tag in tags %}
  <li>{{ tag }}</li>
{% endfor %}
</ul>
<img width="200" src="{{ '/assets/img/' | url }}{{ image }}" />
{{ content | safe }}

{% endblock %}